body {
    background-attachment: scroll;
    background: linear-gradient(180deg, black, white);
}

h1 {
    font-family: Stencil Std, fantasy;
    color: white;
    font-size: 80px;
    text-align: center;
}

span {
    color: white;
    display: none;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
}

label{
    font-family: Stencil Std, fantasy;
    font-size: 30px;
    color: white;
    text-align: center;
}

input{
    width: 50px;
    height: 30px;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    text-align: center;
    outline: none;
}

/* Class of div's */

.title {
    background-color: black;
    margin-top: -55px;
    margin-left: -10px;
    margin-right: -10px;
}

.first {
    margin: 0 auto;
    margin-top: -55px;
    background: linear-gradient(180deg, black, grey);
    width: 50%;
    min-height: 100vh;
    text-align: center;
}

.lapsGame{
    text-align: center;
    margin-top: 50px;
}

.choice {
    text-align: center;
    margin-top: 50px;
}

.result {
    color: white;
    font-family: Stencil Std, fantasy;
    text-align: center;
    font-size: 15px;
}

.scoring {
    font-size: 30px;
    font-family: Stencil Std, fantasy;
    text-align: center;
    color: white;
}

.win{
    font-size: 50px;
    font-family: Stencil Std, fantasy;
    text-align: center;
    color: white; 
}

/* ////////////////////////////////////////// */

/* Class of buttons */

.rules {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 0px 20px 0 20px;
    border: none;
    outline: none;
}

.startGame{
    width: 200px;
    height: 100px;
    margin-top: 50px;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 0px 20px 0 20px;
    border: none;
    outline: none;
}

.rock {
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 0px 20px 0 20px;
    border: none;
    width: 100px;
    height: 100px;
    display: none;
    outline: none;
}

.paper {
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 20px 0 20px 0;
    border: none;
    width: 100px;
    height: 100px;
    display: none;
    outline: none;
}

.scissors {
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 0px 20px 0 20px;
    border: none;
    width: 100px;
    height: 100px;
    display: none;
    outline: none;
}

.startOver{
    margin-top: 50px;
    display: none;
    width: 200px;
    height: 100px;
    margin-top: 50px;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    background: linear-gradient(90deg, white, grey);
    border-radius: 0px 20px 0 20px;
    border: none;
    outline: none;
}

/* ///////////////////////////////////////// */

